@model Question

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    @Model.QuesTittle
                </div>
                @if(Model.QuesType == QuestionType.M.ToString())
                {
                    <div class="card-body">
                        <div class="form-check">
                            <label class="form-check-label @((Model.QuesAnswer == "A") ? "correct-answer" : "")">
                                A. @Model.Choice.A
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label @((Model.QuesAnswer == "B") ? "correct-answer" : "")">
                                B. @Model.Choice.B

                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label @((Model.QuesAnswer == "C") ? "correct-answer" : "")">
                                C. @Model.Choice.C
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label @((Model.QuesAnswer == "D") ? "correct-answer" : "")">
                                D. @Model.Choice.D
                            </label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card-body">
                        <div class="form-check">
                            <label class="form-check-label @((Model.QuesAnswer == "A") ? "correct-answer" : "")">
                                A. True
                            </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label @((Model.QuesAnswer == "B") ? "correct-answer" : "")">
                                B. False

                            </label>
                        </div>
                    </div>

                }
                <div class="card-footer">
                    <div class="row" >
                        <div class="mb-3 correct-answer">
                            <span>Grade: @Model.QuesWeight</span>
                        </div>
                        <div class="">
                            <a asp-action="Index" asp-route-instructorId="56072526000098" class="btn btn-primary">Back to List</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .correct-answer {
        color: darkgreen;
        font-weight:bold;
    }
</style>
