@{
    var Exams = ViewBag.Exams as List<Read_Incoming_Exams_For_Student_IdResult>;
}
@if(Exams.Count == 0){
    <h1>No Incoming Exams</h1>
}
else{
    <h1>Your Incoming Exams</h1>
}
@foreach(var exam in Exams){
    <div class="card">
        <div class="card-header">
            <h3>@exam.Name</h3>
        </div>
        <div class="card-body">
            <p>Course: @exam.crs_name</p>
            <p>Duration: @exam.Ex_duration minutes</p>
            <p>Full Grade: @exam.Ex_grade</p>
            <p>Pass Grade: @exam.Ex_passGrade</p>
            <a asp-action="TakeExam" asp-route-courseId="@exam.crs_id" asp-route-examId="@exam.Exam_id" class="btn btn-primary">Take Exam</a>
        </div>
    </div>
}