@model Examination_System.Models.Student

@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/mainLayout.cshtml";
    var track = Model.Track;
    var courses = track.Crs;
    var branch = Model.Branch;
}
@section Styles{
    <style>
    .info-container {
        text-align: center;
        margin-top: 50px;
    }

    .branch {
        color: darkred;
        font-weight: bold;
        font-size: 24px;
    }

    .map-icon {
        
        font-size: 24px;
    }

    .track-name {
        font-weight: bold;
        color: darkred;
        font-size: 20px;
    }
</style>
}

<div class="info-container">
    <h1>@Model.User.Name</h1>
    <div>
        <p class="branch text-danger">@branch.BranchName <i class="fas fa-map-marker-alt map-icon"></i></p>
    </div>
    <div>
        <p><span class="track-name text-danger">@track.TrackName Track</span></p>
    </div>
    <p class="mt-3">
        <strong>About the Track:</strong> This track offers indetailes courses about
        [ 
        @if (ViewBag.Courses != null)
        {
            var totalCourses = ViewBag.Courses.Count;
            var count = 0;
            foreach (var course in ViewBag.Courses)
            {
                <span>@course.CrsName</span>
                count++;
                if (count < totalCourses)
                {
                    <span>, </span>
                }
            }
        } 
        ]
    </p>
    <div>
        <a class="mx-2 btn btn-primary" asp-action="Courses" asp-route-id="@Model.StdId">Courses</a>
        <a class="mx-2 btn btn-primary" asp-action="StudentPastExams" asp-route-id="@Model.StdId">Previous Exams</a>
        <a class="mx-2 btn btn-primary" asp-action="IncomingExams" asp-route-id="@Model.StdId">Incoming Exams</a>
    </div>
</div>
